*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background: hsl(212, 45%, 89%);
}

.container{
    background: hsl(0, 0%, 100%);
    width: 34%;
    margin: 10% auto; 
    border-radius: 1.5rem;
    padding-top: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.qr-code-img img{
    width: 100%;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.qr-code-description{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

.qr-code-description h1{
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1.5rem;
}

.qr-code-description p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: hsl(216, 15%, 48%);
    padding-left: 1rem;
    padding-right: 1rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(218, 44%, 22%);
}

.attribution a{
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}

@media(max-width: 480px){
    .container{
        width: 87%;
        margin:30% auto;
    }
    .qr-code-description h1{
        font-size: 26px;
    }
}