*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background: hsl(212, 45%, 89%);
    text-align: center;
}

.qr-card{
    background: hsl(0, 0%, 100%);
    width: 34%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    gap: 2rem;
    border-radius: 1.5rem;
    padding-top: 1.3rem;
    padding-inline: 1.3rem;
}

.qr-code-img img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

.qr-code-description{
    padding-inline: 1rem;
    padding-bottom: 3rem; 
}

.qr-code-description h1{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1.5rem;
}

.qr-code-description p{
    font-size: 1.25rem;
    color: hsl(216, 15%, 48%);
    padding-inline: 1rem;
}

footer { 
    font-size: 0.7rem; 
    color: hsl(218, 44%, 22%);
}

footer a{
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}

@media(max-width: 480px){
    .qr-card{
        width: 87%;
        margin:30% auto;
    }
    .qr-code-description h1{
        font-size: 1.6rem;
    }
}